schema_version = "1.0.0"
id = "warbler"
version = "0.0.10"
name = "warbler"
tagline = "Interactive GPU simulations in Blender's viewport"
maintainer = "Brady Johnston <brady.johnston@me.com>"
type = "add-on"
website = "https://bradyajohnston.github.io/warbler"
blender_version_min = "4.5.0"
platforms = [
	"linux-x64",
]
tags = [
	"3D View",
	"Animation",
	"Bake",
	"Physics",
]
license = [
	"SPDX:GPL-3.0-or-later",
]

wheels = [
	"./wheels/databpy-0.6.0-py3-none-any.whl",
	"./wheels/newton-0.1.3-py3-none-any.whl",
	"./wheels/warp_lang-1.10.1-py3-none-manylinux_2_28_x86_64.whl",
]

[permissions]
files = "Saving cached simulations to disk"

